<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
      <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="smartlib" ng-controller="MainCtrl">

    <ion-side-menus>
      <ion-side-menu-content>

      <ion-header-bar class="bar-positive">
        <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
        <h1 class="title">Smart Library</h1>
        <a class="button button-icon icon ion-settings"></a>
      </ion-header-bar>

      <ion-content>
        <ion-refresher 
           pulling-text="Pull down to refresh" 
           on-refresh="doRefresh()">
        </ion-refresher>
        <h4>See last {{ data.minutes }}  minute average:</h4>
        <div class="item range">
          <i class="icon ion-ios-speedometer-outline"></i>
          <input type="range"  ng-model="data.minutes" ng-click="timeChange()"
                 min="0" max="160" >
          <i class="icon ion-ios-speedometer"></i>
        </div>
        <br>
        <h4>Select items for the heatmap:</h4>
        <div class="list">
          <ion-checkbox 
            ng-repeat="item in sensorList" 
            ng-model="item.checked"
            ng-checked="item.checked">
            {{item.text}} : {{item.value}} {{item.unit}}
          </ion-checkbox>
        </div>

        <!--
        <div class="item">
          <pre ng-bind="sensorList | json"> </pre>
        </div>
        -->

        <br>
        Here we should have a heatmap of the area
        <br>
        <br>
        <h4>Control the lights *next* to you: (Experimental {{data.lightSelection}})</h4>
        <div class="item range">
          <i class="icon ion-ios-lightbulb-outline"></i>
          <input type="range" name="lights" ng-model="data.lightSelection"
              min="0" max="100" >
          <i class="icon ion-ios-lightbulb"></i>
        </div>
      </ion-content>
      </ion-side-menu-content>

      <ion-side-menu side="left">
        <ion-list>
          <ion-item>First</ion-item>
          <ion-item>First2</ion-item>
        </ion-list>
        <ion-list>
          <ion-item>Second</ion-item>
        </ion-list>
      </ion-side-menu>
    </ion-side-menus>
  </body>
</html>
